.card {
    height: 185px;
    max-width: 93%;
}

a {
     text-decoration: none; 
}

.header {
    background: #023047 !important;
    padding: 10px;
}

nav a,
.nav-link,
.navbar-brand,
.navbar-toggler-icon,
.navbar-toggler,
.navbar-brand:hover {
    color: #8ECAE6 !important;
}